<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
</head>
<body>
<h2>Users list</h2>
<br>

<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
        <!--        <th>Operations</th>-->
    </tr>

    <tr th:each="user:${users}">
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
            <form method="POST" th:action="updateInfo">
                <input type="hidden" name="userId" th:value="${user.getId()}"/>
                <input type="submit" value="Update">
            </form>
        </td>
        <td>
            <form method="POST" th:action="delete">
                <input type="hidden" name="userId" th:value="${user.getId()}"/>
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>

</table>
<br>

<input type="submit" value="Add"
       onclick="window.location.href = 'new'"/>

</body>
</html>
